@font-face {
    font-family: 'ainoheadline';
    src: url('../fonts/aino-headline-webfont.eot');
    src: url('../fonts/aino-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aino-headline-webfont.woff2') format('woff2'),
         url('../fonts/aino-headline-webfont.woff') format('woff'),
         url('../fonts/aino-headline-webfont.ttf') format('truetype'),
         url('../fonts/aino-headline-webfont.svg#ainoheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ainoregular';
    src: url('../fonts/aino-regular-webfont.eot');
    src: url('../fonts/aino-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aino-regular-webfont.woff2') format('woff2'),
         url('../fonts/aino-regular-webfont.woff') format('woff'),
         url('../fonts/aino-regular-webfont.ttf') format('truetype'),
         url('../fonts/aino-regular-webfont.svg#ainoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
